@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: iranYekan;
  src: url(..\public\fonts\Qs_Iranyekan.ttf);
}

@theme{
--color-primaryFont: #000000;
--color-placeholder: #58616c;
--color-btnWhite: #ffffff;
--color-bgInput: #ffffff;
--color-primaryBtnPink: #DB2777;
--color-darkPink: #831747;
--color-btnGreen: #22C55E;
--color-btnRed: #B71D18;
--color-checkboxBlue: #00B8D9;
--color-bgDarkGray: #E6E8EB;
--color-unloadedImgGray: #6C7885;
--color-bgCard: #E6E8EB;
--color-bgFilterMenu: #E6E8EB;
--color-bgFaveUnloadedImg: #B5BBC3;
--color-darkPink: #831747;

--border-inputBorder: 1px solid #CED2D7;
--border-inputOutline: 1px solid #078DEE;
}

@layer base{
  @variant dark{
    --color-primaryFont: #ffffff;
    --color-placeholder: #9CA3AF;
    --color-bgInput: #141516;
    --color-bgDarkGray: #151515;
    --color-bgCard: #1F2937;
    --color-bgFilterMenu: #151515;
    --color-bgFaveUnloadedImg: #DFE3E8;

--border-inputBorder: 1px solid #3F4043;


  }
}