@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: iranYekan;
  src: url(..\public\fonts\Qs_Iranyekan.ttf);
}

@theme {
  --font-iranYekan: "iranYekan";
  --color-primaryFont: #000000;
  --color-placeholder: #58616c;
  --color-btnWhite: #ffffff;
  --color-bgInput: #ffffff;
  --color-primaryBtnPink: #db2777;
  --color-darkPink: #831747;
  --color-btnGreen: #22c55e;
  --color-btnRed: #b71d18;
  --color-checkboxBlue: #00b8d9;
  --color-bgDarkGray: #e6e8eb;
  --color-unloadedImgGray: #6c7885;
  --color-bgCard: #e6e8eb;
  --color-bgFilterMenu: #e6e8eb;
  --color-bgFaveUnloadedImg: #b5bbc3;
  --color-darkPink: #831747;
  --color-background: #eeeff1;
  --color-sidebar-bg: #fff;

  --border-inputBorder: 1px solid #ced2d7;
  --border-inputOutline: 1px solid #078dee;
}

@layer base {
  @variant dark {
    --color-primaryFont: #ffffff;
    --color-placeholder: #9ca3af;
    --color-bgInput: #141516;
    --color-bgDarkGray: #151515;
    --color-bgCard: #1f2937;
    --color-bgFilterMenu: #151515;
    --color-bgFaveUnloadedImg: #dfe3e8;
    --color-background: #0f0f10;
    --color-sidebar-bg: #000;

    --border-inputBorder: 1px solid #3f4043;
  }
}
